{% extends 'base.html' %}

{% block titulo %}
    HomeFilmes Netflix
{% endblock %}


{% block content %}
    <div class="py-16">
        <h1>Essa é a nossa HomeFilmes</h1>

        <!--lista_filmes é a chave do meu dicionario no arquivo views-->
        {% for filme in lista_filmes %}
            <hr>
            <div>{{ filme.pk }}</div>

            <!--Aqui, 'filme:detalhesfilme' diz ao Django para procurar a URL chamada "home" dentro do namespace "filme".-->
            <a href="{% url 'filme:detalhesfilme' filme.id %}">
                <p>{{ filme.titulo }}</p>
            </a>

            <div>{{ filme.data_criacao }}</div>
            <div>{{ filme.categoria }}</div>
            <div>{{ filme.descricao }}</div>
            <img src="{{ filme.thumb.url }}" alt="" width="300">
        {% endfor %}
    </div>
{% endblock %}